{%include 'admin/cabecera.html'%}

<div class="container">
    <div class="row">

        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Actualizar Libro</p>
                        <form action="/admin/libros/actualizar" method="post" enctype="multipart/form-data">

                            {% for book in booksData %}
                            <div class="mb-3">
                                <label for="idDelLibro" class="form-label">ID del Libro</label>
                                <input name="txtID" value="{{book[0]}}" type="text" readonly class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label for="nuevoNombreDelLibro" class="form-label">Nombre del Libro</label>
                                <input value="{{book[1]}}" type="text" class="form-control" name="nuevoNombreDelLibro"
                                    aria-describedby="helpId" placeholder="Escriba el nombre del libro" />
                            </div>
                            <div class="mb-3">
                                <label for="nuevaImagenDelLibro" class="form-label">Imagen del Libro</label><br>
                                <img width="80" src="/imagenes/{{book[2]}}" class="img-fluid rounded-top"
                                    alt=""><br><br>
                                <input type="file" class="form-control" name="nuevaImagenDelLibro"
                                    placeholder="Seleccione la imagen del libro" />
                            </div>
                            <div class="mb-3">
                                <label for="nuevaUrlDelLibro" class="form-label">URL del Libro</label>
                                <input value="{{book[3]}}" type="text" class="form-control" name="nuevaUrlDelLibro"
                                    placeholder="Escriba URL de descarga" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Actualizar
                            </button>
                            {% endfor %}
                        </form>

                    </blockquote>
                </div>
            </div>

        </div>

    </div>
</div>


{%include'admin/pie.html'%}