{% include 'sitio/cabecera.html' %}

<h1>Carrito</h1>
<div class="col-7">
    <div class="table">
        <table class="table table-info table-bordered ">
            <thead>
                <tr>
                    <th scope="col"> ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Importe</th>




                </tr>
            </thead>
            <tbody>
                {% for libro in carrito %}
                <tr>
                    <td>{{libro.id}}</td>
                    <td>{{libro.nombre}}</td>
                    <td><img width="60" src="/imagenes/{{libro.imagen}}" class="img-fluid rounded-top" alt="">
                        {{libro.imagen}}
                    </td>
                    <td>
                        ${{libro.precioUnitario}}
                    </td>
                    <td>
                        {{libro.cantidad}}
                    </td>
                    <td>
                        ${{libro.importe}}
                    </td>

                </tr>
                {% endfor %}
                <a name="" id="" class="btn btn-primary" href="/libros" role="button">Ir a libros</a>

            </tbody>
            {% if carrito %}
            <button type="button" class="btn btn-primary">
                Confirmar compra
            </button>

            {% endif %}
        </table>
    </div>
</div>

{% include 'sitio/pie.html' %}