{% include 'sitio/cabecera.html'%}
<div class="container">
  <div class="alert alert-danger">
    <p>Carrito de compras</p>
    <a name="" id="" class="btn btn-success" href="/carrito" role="button">Ver el carrito</a>


  </div>
</div>
<div class="row">
  {% for libro in libros %}
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="/imagenes/{{libro[2]}}" alt="Title" />
      <div class="card-body">
        <h4 class="card-title">{{libro[1]}}</h4>
        <p>${{libro[4]}}</p>
        <form action="/carrito/agregar" method="post">
          <div class="quantity-selector">
            <button type="button" id="decrease" onclick="modificarCantidad('{{libro[0]}}',-1)">-</button>
            <input type="number" id="{{libro[0]}}" value="0" name="cantidadesAComprar" readonly>
            <button type="button" id="increase" onclick="modificarCantidad('{{libro[0]}}',1)">+</button>
          </div>
          <input type="hidden" readonly value="{{libro[0]}}" name="txtID">
          <button type="submit" class="btn btn-primary">
            Comprar
          </button>

        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% include 'sitio/pie.html' %}