<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <div class="container p-5">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 p-5">
                    {% if mensaje %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{mensaje}}</strong>
                    </div>

                    {%endif%}


                    <div class="card">
                        <div class="card-header">Login de usuario</div>
                        <div class="card-body">
                            <form action="/usuario/login" method="post" autocomplete="off">
                                <div class="mb-3">
                                    <div class="mb-3">
                                        <label for="usuario" class="form-label">Ingrese su usuario</label>
                                        <input type="text" class="form-control" name="usuario" id="usuario"
                                            placeholder="" />
                                    </div>

                                    <label for="contraseña" class="form-label">Ingrese su contraseña</label>
                                    <input type="password" id="contraseña" class="form-control" name="contraseña" />
                                </div>
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>